<% include ../partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Join a Game</h1>
		<p><em>You can also start your own game</em></p>
	</div>
	
</div>

<div class="container">


	<h3>Games</h3>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Creator</th>
					<th>Settings</th>
					<th>Join</th>
				</tr>
			</thead>

			<tbody>
				
				<% for (var i = 0; i < games.length; i++) { %>
					<% if (games[i].state == 'PLAYING') { %>
						<tr class="danger">
					<% } else { %>
						<tr>
					<% } %>
						<td><%= games[i].name %></td>
						<td><%= games[i].creator.name %></td>
						<td>
							
							<table class="table table-condensed table-bordered table-striped">
								<tbody>
									<tr>
										<td>Buy In</td>
										<td><%= games[i].settings.maxBuyIn %></td>
									</tr>
									<tr>
										<td>Small Blind</td>
										<td><%= games[i].settings.smallBlind %></td>
									</tr>
									<tr>
										<td>Big Blind</td>
										<td><%= games[i].settings.bigBlind %></td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<a href="/game/play/<%= games[i].name %>" class="btn btn-block btn-warning">Join this Game</a>

						</td>
					</tr>
				<% } %>

			</tbody>
		</table>
	</div>

</div>

<% include ../partials/footer.ejs %>