<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<% if (settings.env === 'development') { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/game.css" rel="stylesheet" media="screen" />
			<link href="/css//vendor/angular-slider.css" rel="stylesheet" media="screen" />

			<script>var GLOBAL = { URL: '<%= settings.base_url %>', ROOM: '<%= room.id %>'};</script>
			<script src="/js/vendor/angular.js"></script>
			<script src="/js/vendor/adapter.js"></script>
			<script src="/js/vendor/angular-slider.js"></script>
			<script src="/js/app.js"></script>
			<script src="/socket.io/socket.io.js"></script>

		<% } else { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/game.css" rel="stylesheet" media="screen" />
			<link href="/css//vendor/angular-slider.css" rel="stylesheet" media="screen" />

			<script>var GLOBAL = { URL: '<%= settings.base_url %>', ROOM: '<%= room.id %>'};</script>
			<script src="/js/vendor/angular.js"></script>
			<script src="/js/vendor/adapter.js"></script>
			<script src="/js/vendor/angular-slider.js"></script>
			<script src="/js/app.js"></script>
			<script src="/socket.io/socket.io.js"></script>
		<% } %>
	</head>


	<body>
		<div class="navbar navbar-inverse">

	    </div>

		<!-- Wrap all page content here -->
		<div id="game" ng-controller="GameCtrl">


			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

					<div class="settings">
						
						<p>By clicking join below you agree to out terms and conditions</p>
						<p><strong>Rules</strong> </p>
						<ol><li>Crawl down deep inside</li></ol>
					</div>


					<% if (join) { %>

						<form class="form-horizontal" role="form" method="post" action="/game/join/<%= room.name %>">
							<input type="hidden" name="_csrf" value="<%= token %>"/>
							<input type="submit" class="btn btn-block btn-lg btn-success mg-top-bot-5" value="Sit Down" />
						</form>
					<% } %>

				</div>

				<div class="col-xs-12 col-sm-12 col-md-11 col-lg-8">
					<div class="row">

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 opponent">

						<!--
							The opponent sits here
						-->
							<div class="row">

								<div ng-switch="game.opponent.name" class="col-md-12 opp-player-co">
									<div ng-switch-when="null">
										<span class="player-name">Waiting for opponent ...</span> 
									</div>

									<div ng-switch-default>
										<% if (!join) { %>
											<video id="remote-video" class="video" ng-class="{ 'player-turn': game.action.turn == game.opponent.id }" remote-video autoplay></video>
										<% } %>

										<div class="opp-player-name">
											<span class="player-name">{{ game.opponent.name }}</span>
											<span class="dealer-button" ng-cloak ng-show="game.action.dealer == game.opponent.id">D</span>
											<span class="blind-bet" ng-cloak ng-show="game.opponent.blind == 'small'">SB</span>
											<span class="blind-bet" ng-cloak ng-show="game.opponent.blind == 'big'">BB</span>
											<span class="chip-count">{{ game.opponent.chips}}</span>
										</div>

										<div class="opp-player-data">

											<div ng-cloak ng-show="game.opponent.folded == false">
												<ul class="cards">
													<li class="card"><span class="card-{{ game.opponent.cards[0] }}"></span></li>
													<li class="card"><span class="card-{{ game.opponent.cards[1] }}"></span></li>
												</ul>
											</div>

										</div>

										<div class="opp-player-bet bet" ng-cloak ng-show="game.opponent.action != null && game.action.state != null">
											<span class="player-action" ng-cloak ng-show="game.opponent.action != null">{{ game.opponent.action}}</span>
											<span class="player-action" ng-cloak ng-show="game.opponent.bets != 0">{{game.opponent.bets}}</span>
										</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 player">
							<div class="row" ng-cloak ng-show="game.player.name != null">
								<div class="col-md-12">

									<% if (!join) { %>
										<video id="local-video" class="video" ng-class="{ 'player-turn': game.action.turn == game.player.id }" local-video autoplay></video>
									<% } %>

									<div class="opp-player-name">
										<span class="player-name">{{ game.player.name }}</span>
										<span class="dealer-button" ng-cloak ng-show="game.action.dealer == game.player.id">D</span>
										<span class="blind-bet" ng-cloak ng-show="game.player.blind == 'small'">SB</span>
										<span class="blind-bet" ng-cloak ng-show="game.player.blind == 'big'">BB</span>
										<span class="chip-count" ng-cloak ng-show="game.action.state != null">{{ game.player.chips}}</span>
									</div>

									<div class="opp-player-data" ng-switch="game.player.name">
										<div ng-switch-when="null">
											<span class="player-name">Waiting for player ...</span> 
										</div>
										<div ng-switch-default>

											<div ng-cloak ng-show="game.player.folded == false">

												<ul class="cards" ng-cloak ng-show="game.action.state != null">
													<li class="card"><span class="card-{{game.player.cards[0]}}"></span></li>
													<li class="card"><span class="card-{{game.player.cards[1]}}"></span></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="opp-player-bet bet" ng-cloak ng-show="game.player.action != null && game.action.state != null">
										<span class="player-action" ng-cloak ng-show="game.player.action != null">{{ game.player.action }}</span>
										<span class="player-action" ng-cloak ng-show="game.player.bets != 0">{{ game.player.bets }}</span>
									</div>

								</div>


								<div class="opp-player-options" ng-cloak ng-show="game.action.turn == game.player.id">
									<div ng-cloak ng-show="game.player.options['CHECK'].allowed" class="action-btn">
										<button type="button" class="btn btn-check" ng-click="action(game.player.options['CHECK'].name)">Check</button>
									</div>
									<div ng-cloak ng-show="game.player.options['BET'].allowed" class="action-btn">
										<button type="button" class="btn btn-bet" ng-click="action(game.player.options['BET'].name)">Bet {{ game.player.options['BET'].amount | number:0}}</button>
									</div>
									<div ng-cloak ng-show="game.player.options['FOLD'].allowed" class="action-btn">
										<button type="button" class="btn btn-fold" ng-click="action(game.player.options['FOLD'].name)">Fold</button>
									</div>
									<div ng-cloak ng-show="game.player.options['CALL'].allowed" class="action-btn">
										<button type="button" class="btn btn-call" ng-click="action(game.player.options['CALL'].name)">Call {{game.player.options['CALL'].amount | number:0 }}</button>
									</div>
									<div ng-cloak ng-show="game.player.options['RAISE'].allowed" class="action-btn">
										<button type="button" class="btn btn-raise" ng-click="action(game.player.options['RAISE'].name)">Raise {{game.player.options['RAISE'].amount | number:0}}</span></button>
									</div>
									<div ng-cloak ng-show="game.player.options['RAISE'].allowed" class="action-slider">
										<slider floor="{{game.player.options['RAISE'].min}}" ceiling="{{game.player.options['RAISE'].max}}" step="1" precision="1" ng-model="game.player.options['RAISE'].amount"></slider>
									</div>
									<div ng-cloak ng-show="game.player.options['BET'].allowed" class="action-slider">
										<slider floor="{{game.player.options['BET'].min}}" ceiling="{{game.player.options['BET'].max}}" step="1" precision="1" ng-model="game.player.options['BET'].amount"></slider>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">


						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 ">
							<div class="table">
								
								
								<div class="board">
									<div ng-repeat="card in game.action.board" class="card"><span class="card-{{card}}"></span></div>
								</div>
								<div class="pot" ng-cloak ng-show="game.action.pot != 0">{{ game.action.pot }}</div>
								
							</div>
						</div>



					</div>


				</div>

				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
					<div class="history">
						<ul class="events" scroll-glue ng-model="game.events">
							<li ng-repeat="event in game.events">
								<span><strong>{{ event.owner }}:</strong> </span>
								<span ng-bind-html-unsafe="event.event">{{ event.event }}</span>
								<span><em>{{ fn.msToDateTime(event.time) }}</em></span>
							</li>
						</ul>
					</div>
				</div>

			</div>









		</div>

		<% if (settings.env === 'development') { %>

		<% } else { %>
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-44747340-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
		<% } %>

	</body>

</html>