<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<% if (settings.env === 'development') { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/game.css" rel="stylesheet" media="screen" />
			<link href="/css//vendor/angular-slider.css" rel="stylesheet" media="screen" />

			<script>var GLOBAL = { URL: '<%= settings.base_url %>', ROOM: '<%= room.id %>'};</script>
			<script src="/js/vendor/angular.js"></script>
			<script src="/js/vendor/adapter.js"></script>
			<script src="/js/vendor/angular-slider.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/app.js"></script>
			

		<% } else { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/game.css" rel="stylesheet" media="screen" />
			<link href="/css//vendor/angular-slider.css" rel="stylesheet" media="screen" />

			<script>var GLOBAL = { URL: '<%= settings.base_url %>', ROOM: '<%= room.id %>'};</script>

			<script src="/js/vendor/angular.js"></script>
			<script src="/js/vendor/adapter.js"></script>
			<script src="/js/vendor/angular-slider.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/app.js"></script>
			
		<% } %>
	</head>


	<body ng-controller="GameCtrl">

		<div id="wrapper">

		  <!-- Sidebar -->
		  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/"><img src="/img/bitflop.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" collapse="isCollapsed">

				<ul class="nav navbar-nav side-nav events" scroll-glue ng-model="game.events">
					<li ng-repeat="event in game.events | reverse">

						<span ng-bind-html-unsafe="event.event">{{ event.event }} </span>
						<br>
						<span class="event-time"><span class="glyphicon glyphicon-time"></span> <em>{{ fn.msToDateTime(event.time) }}</em></span>
					</li>
				</ul>



			<ul class="nav navbar-nav navbar-right">

				<% if (!join) { %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-facetime-video"></span> Cam&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="fn.killVideoStream()" href="">Turn off Video</a></li>
							<li><a ng-click="fn.StartVideoStream()" href="">Turn off Video</a></li>
						</ul>
					</li>
				<% } %>

				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Room <span class="badge">{{room.players.length + room.observers.length}}</span> <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="player in room.players">
							<a>
								<span class="glyphicon glyphicon-user"></span>
								<span>{{ player.name }}</span> <span class="label label-danger">Player</span>
							</a>
						</li>
						<li ng-repeat="observer in room.observers">
							<a>
								<span class="glyphicon glyphicon-user"></span>
								<span>{{ observer.name }}</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= user.name %>&nbsp;<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/account/games"><span class="glyphicon glyphicon-list"></span> My Games <span class="badge"><%= user.games.active.length %></span></a></li>
						<li class="divider"></li>
						<li><a href="/game/new"><span class="glyphicon glyphicon-plus"></span> Create a Game</a></li>
						<li><a href="/game/join"><span class="glyphicon glyphicon-new-window"></span> Join a Game</a></li>
						<li class="divider"></li>
						<li><a type="button" href="/user/<%= user.name %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						<li><a href="/account/settings"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </nav>

		  <div id="page-wrapper">

			<div ng-cloak ng-show="game.action.state == null">


				<% if (join) { %>

					<form class="form-horizontal" role="form" method="post" action="/game/join/<%= room.id %>">
						<input type="hidden" name="_csrf" value="<%= token %>"/>

						<button type="submit" class="btn btn-md btn-block btn-success"><strong>Play Against <span class="notify-label notify-label-success"><span class="glyphicon glyphicon-user"></span> <%= room.creator.name%></span></strong></button>
					</form>
				<% } else { %>

					<% if (room.creator.id === user.id) { %>

						<div class="notify-player wrap">
							<span class="glyphicon glyphicon-link"></span>
							<span><strong>Waiting for opponent: </strong></span>
								
							<span class="notify-label notify-label-primary">https://bitflop.me/game/play/<%= room.id %></span>
						</div>
					<% } else { %>
						<div class="notify-player wrap">
							<span class="glyphicon glyphicon-time"></span>
							<span><strong>Waiting for <span class="notify-label notify-label-primary"><span class="glyphicon glyphicon-user"></span> <%= room.creator.name%></span> to join.</strong></span>
						</div>
					<% } %>

				<% } %>

			</div>


			<div ng-cloak ng-show="game.action.state == 'END'">
				<div class="notify-player">
					<strong><span class="notify-label notify-label-primary">{{ game.action.winner }}</span> Wins Match!</strong>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 opponent">

						<!--
							The opponent sits here
						-->
							<div class="row">

								<div ng-switch="game.opponent.name" class="col-md-12 opp-player-co">
									<div ng-switch-when="null">
										<!--<span class="player-name">Waiting for opponent ...</span>-->
										<span>&nbsp;</span> 
									</div>

									<div ng-switch-default>
										<% if (!join) { %>
											<video id="remote-video" class="video" ng-class="{ 'player-turn': game.action.turn == game.opponent.id }" remote-video poster="/img/webcam.png" autoplay controls></video>
											<div class="opp-player-name">
												<span class="player-name">{{ game.opponent.name }}</span>
												<span class="dealer-button" ng-cloak ng-show="game.action.dealer == game.opponent.id">D</span>
												<span class="blind-bet" ng-cloak ng-show="game.opponent.blind == 'small'">SB</span>
												<span class="blind-bet" ng-cloak ng-show="game.opponent.blind == 'big'">BB</span>
												<span class="chip-count" ng-cloak ng-show="game.action.state != null && game.action.state != 'END'">{{ game.opponent.chips}}</span>
												<span class="chip-count" ng-cloak ng-show="game.opponent.bets != 0 && game.opponent.bets != null">{{game.opponent.bets}}</span>
											</div>

										<% } %>



										<div class="opp-player-data">

											<div ng-cloak ng-show="game.opponent.folded == false">
												<ul class="cards">
													<li class="card"><span class="card-{{ game.opponent.cards[0] }}"></span></li>
													<li class="card"><span class="card-{{ game.opponent.cards[1] }}"></span></li>
												</ul>
											</div>

										</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 player">
							<div class="row" ng-cloak ng-show="game.player.name != null">
								<div class="col-md-12">

									<% if (!join) { %>
										<video id="local-video" class="video" ng-class="{ 'player-turn': game.action.turn == game.player.id }" local-video autoplay poster="/img/webcam.png" controls></video>
										<div class="opp-player-name">
											<span class="player-name">{{ game.player.name }}</span>
											<span class="dealer-button" ng-cloak ng-show="game.action.dealer == game.player.id">D</span>
											<span class="blind-bet" ng-cloak ng-show="game.player.blind == 'small'">SB</span>
											<span class="blind-bet" ng-cloak ng-show="game.player.blind == 'big'">BB</span>
											<span class="chip-count" ng-cloak ng-show="game.action.state != null && game.action.state != 'END'">{{ game.player.chips}}</span>
											<span class="chip-count" ng-cloak ng-show="game.player.bets != 0 && game.player.bets != null">{{ game.player.bets }}</span>
										</div>
									<% } %>



									<div class="opp-player-data" ng-switch="game.player.name">
										<div ng-switch-when="null">
											<span class="player-name">Waiting for player ...</span> 
										</div>
										<div ng-switch-default>

											<div ng-cloak ng-show="game.player.folded === false">

												<ul class="cards" ng-cloak ng-show="game.action.state != null">
													<li class="card"><span class="card-{{game.player.cards[0]}}"></span></li>
													<li class="card"><span class="card-{{game.player.cards[1]}}"></span></li>
												</ul>
											</div>
										</div>
									</div>

								</div>


								<div class="opp-player-options" ng-cloak ng-show="game.action.turn == game.player.id">
									<div ng-cloak ng-show="game.player.options['CHECK'].allowed" class="action-btn">
										<button type="button" class="btn btn-check" ng-click="action(game.player.options['CHECK'].name)">Check</button>
									</div>
									<div ng-cloak ng-show="game.player.options['BET'].allowed" class="action-btn">
										<button type="button" class="btn btn-bet" ng-click="action(game.player.options['BET'].name)">Bet {{fn.parseAmount(game.player.options['BET'].amount)}}</button>
									</div>
									<div ng-cloak ng-show="game.player.options['FOLD'].allowed" class="action-btn">
										<button type="button" class="btn btn-fold" ng-click="action(game.player.options['FOLD'].name)">Fold</button>
									</div>
									<div ng-cloak ng-show="game.player.options['CALL'].allowed" class="action-btn">
										<button type="button" class="btn btn-call" ng-click="action(game.player.options['CALL'].name)">Call {{fn.parseAmount(game.player.options['CALL'].amount)}}</button>
									</div>
									<div ng-cloak ng-show="game.player.options['RAISE'].allowed" class="action-btn">
										<button type="button" class="btn btn-raise" ng-click="action(game.player.options['RAISE'].name)">Raise {{fn.parseAmount(game.player.options['RAISE'].amount)}}</span></button>
									</div>
									<div ng-cloak ng-show="game.player.options['RAISE'].allowed" class="action-slider">
										<slider floor="{{fn.parseAmount(game.player.options['RAISE'].min)}}" ceiling="{{fn.parseAmount(game.player.options['RAISE'].max)}}" step="1" precision="0" ng-model="game.player.options['RAISE'].amount"></slider>
									</div>
									<div ng-cloak ng-show="game.player.options['BET'].allowed" class="action-slider">
										<slider floor="{{fn.parseAmount(game.player.options['BET'].min)}}" ceiling="{{fn.parseAmount(game.player.options['BET'].max)}}" step="1" precision="0" ng-model="game.player.options['BET'].amount"></slider>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">


						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 ">
							<div class="table">
								
								<div class="board">
									<div ng-repeat="card in game.action.board" class="card"><span class="card-{{card}}"></span></div>
								</div>
								<div class="pot" ng-cloak ng-show="game.action.pot != 0 && game.action.state != null">
									<span class="chip-count">{{ game.action.pot }}</span>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>

		  </div><!-- /#page-wrapper -->

		</div><!-- /#wrapper -->

		<% if (settings.env === 'development') { %>

		<% } else { %>
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-44747340-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>
		<% } %>

	</body>

</html>