<% include partials/header.ejs %>


<div class="jumbotron sub">
	<div class="container">
		<h1>Register</h1>
	</div>
	
</div>

<div class="container">
	


	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  

			<form role="form" method="post" action="/register" class="well">

				<input type="hidden" name="_csrf" value="<%= token %>"/>
				
				<div class="form-group <% if (errors.registerUsername) { %>has-error<% } %>">
					<label>Choose a Username</label> <span class="text-muted"><small>(Alphanumerics Only)</small></span>
					<input type="text" name="registerUsername" class="form-control mg-top-bot-5" placeholder="Username (between 2 and 15 characters)" maxlength="15">
					<% if (errors.registerUsername) { %>
						<div class="alert alert-danger"><p><%= errors.registerUsername.msg %></p></div>
					<% } %>
				</div>
				
				<div class="form-group <% if (errors.registerPassword) { %>has-error<% } %>">
					<label>Choose a Password</label>
					<input type="password" name="registerPassword" class="form-control mg-top-bot-5" placeholder="Password (at least 5 characters)" maxlength="55">
					<% if (errors.registerPassword) { %>
						<div class="alert alert-danger"><p><%= errors.registerPassword.msg %></p></div>
					<% } %>
				</div>
				
				<div class="form-group <% if (errors.registerPasswordConfirm) { %>has-error<% } %>">
					<label>Confirm Password</label>
					<input type="password" name="registerPasswordConfirm" class="form-control mg-top-bot-5" placeholder="Confirm your password" maxlength="55">
					<% if (errors.registerPasswordConfirm) { %>
						<div class="alert alert-danger"><p><%= errors.registerPasswordConfirm.msg %></p></div>
					<% } %>
				</div>
				
				<div class="form-group <% if (errors.registerEmail) { %>has-error<% } %>">
					<label>Optional Email</label>
					<input type="text" name="registerEmail" class="form-control mg-top-bot-5" placeholder="Optional Email">
					<% if (errors.registerEmail) { %>
						<div class="alert alert-danger"><p><%= errors.registerEmail.msg %></p></div>
					<% } %>
				</div>

				<div class="form-group">
					<p class="text-muted text-center"><small>By completing this form, you confirm your agreement to our <a href="/terms">Terms of Use</a>.</small></p>
					<input type="submit" class="btn btn-block btn-lg btn-success mg-top-bot-5" value="Register" />
				</div>

				<a href="/login" class="btn btn-default btn-block"><strong>Login Here</strong></a>
			</form>


		</div>


	</div>

	<!--<div class="row">
		<div class="col-md-12">  
			<h3>Why Do I Need to Register?</h3>
			<p>BitFlop.me needs a unique username when you enter the website so we can retrieve any stored games, your player points, and any custom game data you may have entered. Otherwise you would have to enter this information each time you visited BitFlop.me. We need a password to use with your username so only you can view data that you have entered. <strong>A username and a password is the only information that is required to use BitFlop.me</strong>.</p>

			<div class="row">
				<div class="col-sm-6">  

					<h4>No Email Required</h4>

					<p>To register for BitFlop.me, all you need is a unique username and a password. If you do choose to enter your email, we will only use it for password recovery.</p>
				</div>
				<div class="col-sm-6">  

					<h4>Privacy Philosophy</h4>
					<p>We limit data collected about you and your use of the platform, and we never disclose it for any other reason unless required by law. Please read our <a href="/privacy">Privacy Policy</a> if you would like more information.</p>
				</div>
			</div>
		</div>
	</div>-->
</div>

<% include partials/footer.ejs %>